[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
dj-database-url = "*"
python-decouple = "*"
psycopg2 = "*"
cloudinary = "*"
django-bootstrap4 = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.8"
